.header {
  background-color: #404754;
  padding: 10px 15px;
  font-size: 1rem;
}

.app-container {
  background-color: #282c34;
  height: 100vh;
  color: white;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.content {
  padding: 15px;
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 750px 300px 1fr;
  column-gap: 50px;
}

.canvas {
  width: 100%;
  height: 500px;
  background-color: white;
}

.import-btn-container {
  align-self: end;
}

.control-container {
  align-self: center;
}